*{
    border: 0.5px solid black;
    font-family: 微軟正黑體;
}
.main{
    width: 80%;
    margin:0 auto;
}
/* 圖片連結 */
.box1{
    text-align: center;
}
.box1 .box-inn{
   margin: 0 auto;
    
}
.box1 img[src="logo.jpg"]{
    width: 35%;
    margin: 10px 20px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5)
}
.box2{
    text-align: center;
}
.box2 .box-inn{
   margin: 0 auto;
    
}
.box2 img[src="logo.jpg"]{
    width: 15%;
    margin: 10px 20px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5)
}
.box3{
    text-align: center;
}
.box3 .box-inn{
   margin: 0 auto;
    
}
.box3 img[src="logo.jpg"]{
    width: 20%;
    margin: 10px 20px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5)
}
/* 頁尾 */
.footer {
    background-color: rgb(53, 53, 53);
    color: #FFF;
    height: 400px;
    margin-top: 50px;
}
.footer .footerBox{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 30% 40%;
}
.footerBox h3, h4, p{
    margin:5px 0px 0px 30px ;
}
.footerBox ul{
    list-style: none;
    margin:5px 0px 0px 30px;
}
.footerBox a{
    text-decoration: none;
    color: #FFF;
}
.footer .footerBox img {
    width: 20px;
    padding: 30px 10px 0 0;
    margin-left: 30px;
}
.footer hr {
    background-color: #ddd;
    height: 1px;
    width: 80%;
    margin: 0 auto;
}
.footer .copyright{
    color: white;
    display: block;
    text-align: center;
    margin-top: 80px;
}
