*{
    border: 0.5px solid black;
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}

.footer{
    /* background-color:black; */
    /* color: white; */
    display: inline-block;
    position: fixed;

}
.copyright{
    /* color: white; */
    text-align: center;
}
