*{
    /* border: 0.5px solid black; */
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}
.nav ul{
    float: top;
    text-align: center;
    
}
.nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 10px;
    /* margin: 0px auto; */
    margin: 5px 20px 5px 20px;
      
}
.nav a{
    color: #757575;
    text-decoration: none;
    font-weight: 800;
}
.logobutton img[src="logo.jpg"]{
    display: block;
    width: 150px;
    float: top;
    text-align: center;
    margin: 0px auto;
}