link(rel="stylesheet", href="nav.css")
.nav
    span.logo a(href="#") #[img(src="", alt="原點小農首頁")]
    ul
        li #[a(href="#") 品牌故事]
        li #[a(href="#") 最新資訊]
        li #[a(href="#") 小農故事]
        li #[a(href="#") 風味分享]
        li #[a(href="#") 線上訂購]
        