link(rel="stylesheet", href="nav.css")
.nav
    div.logobutton  #[a(href="index.html")] #[img(src="logo.jpg" alt="首頁")]
    ul
        li #[a(href="brand.html") 品牌故事]
        li #[a(href="news.html") 最新資訊]
        li #[a(href="story.html") 小農故事]
        li #[a(href="share.html") 風味分享]
        li #[a(href="shop.html") 線上訂購]
        